@charset "utf-8";

@import url(slide.css);
@import url(lightbox.css);

body {
	margin: 0px;
	padding: 0px;
	color: #333;	/*全体の文字色*/
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;	/*フォント種類*/
	font-size: 14px;	/*文字サイズ*/
	line-height: 2;		/*行間*/
	background: #FFF3DE;	/*全体の背景色（古いブラウザ用）*/
	-webkit-text-size-adjust: none;
}
h1,h2,h3,h4,h5,p,ul,ol,li,dl,dt,dd,form,figure,form,input,select,textarea {margin: 0px;padding: 0px;font-size: 100%;}
ul {list-style-type: none;}
img {border: none;max-width: 100%;height: auto;vertical-align: middle;}
table {border-collapse:collapse;font-size: 100%;border-spacing: 0;}
video {max-width: 100%;}
iframe {width: 100%;}

a {
	color: #FFF;		/*リンクテキストの色*/
	transition: 0.4s;	/*マウスオン時の移り変わるまでの時間設定。0.4秒。*/
}
a:hover {
	color: #4abb30;			/*マウスオン時の文字色*/
	text-decoration: none;	/*マウスオン時に下線を消す設定。残したいならこの１行削除。*/
}

#container {
	max-width: 100%;	/*サイトの最大幅*/
	margin: 0 auto;
	padding: 0px;
}

header {
	height: 50px;	/*ヘッダーの高さ*/
	position: relative;
	background-color: #FFDDA1;
	align-items: center;
	box-shadow: 0 2px 2px 0 rgba(73, 73, 73, 0.5);

}
/*ロゴ画像*/
header #logo img {
	width: 146px;		/*画像の幅*/
	position: absolute;z-index: 2;
	left: 3%;		/*左から3%の場所に配置*/
	top: 2px;		/*上から75pxの場所に配置*/
	border-radius: 10px;
	box-shadow: 0 2px 2px 0 rgba(73, 73, 73, 0.5);

}
/*ヘッダー右上の画像*/
#header-img img {
	position: absolute;z-index: 1;
	right: 3%;		/*右から3%の場所に配置*/
	top: -30px;		/*上から-30pxの場所に配置。基準の場所から上に移動する事になります。*/
	width: 500px;	/*画像の幅*/
}

#contents {
	clear: both;overflow: hidden;
	padding-bottom: 40px;	/*下の余白。footerとの間のスペースになります。*/
}

#menubar {
	overflow: hidden;
	background: #FFF;	/*背景色（古いブラウザ用）*/
	background: linear-gradient(#FFF, #e5e5e5);	/*背景グラデーション*/
	border-radius: 10px;	/*角丸のサイズ*/
	text-align: center;		/*テキストをセンタリング*/
	padding: 0 4%;			/*上下、左右へのメニューブロック内の余白。*/
	margin-bottom: 30px;	/*メニューブロックの下(外側)に空けるスペース*/
	height: 50px;
}
/*メニュー１個あたりの設定*/
#menubar li {
	overflow: hidden;
	float: left;		/*左に回り込み*/
	width: 16.6%;			/*メニュー幅。5個なので100÷5=20。6個にしたいなら16.6%にする。*/
	line-height: 1.6;	/*行間*/
}
#menubar li a {
	display:  block;text-decoration: none;
	border-right: 1px solid #ccc;	/*右側の線の幅・線種・色*/
	padding: 15px 0;	/*上下、左右へのメニュー内の余白*/
	color: #333;		/*文字色*/
}
/*１つ目のメニューへの追加設定*/
#menubar li:first-child a {
	border-left: 1px solid #ccc;	/*左側の線の幅・線種・色*/
}
/*マウスオン時と、現在表示中メニューの設定*/
#menubar li a:hover, #menubar li.current a {
	background: #4abb30;	/*背景色*/
	color: #fff;			/*も地色*/
}
/*スマホ用メニューを表示させない*/
#menubar-s {display: none;}
/*３本バーアイコンを表示させない*/
#menubar_hdr {display: none;}
/*上下ブロックを表示させない*/
#main-b {display: none;}

#main {
	padding: 0 5%;
}

#main h2 {
	clear: both;
	margin-bottom: 20px;	/*見出しの下にとるスペース*/
	font-size: 16px;		/*文字サイズ*/
	padding: 12px 30px;		/*上下、左右への余白*/
	color: #333;			/*文字色*/
	border-radius: 10px;	/*角丸のサイズ*/
	background: #FFF;		/*背景色（古いブラウザ用）*/
	background: linear-gradient(#FFF, #e5e5e5);	/*背景グラデーション*/
}
/*mainコンテンツのh3タグの設定*/
#main h3 {
	clear: both;
	margin-bottom: 20px;	/*見出しの下にとるスペース*/
	font-size: 16px;		/*文字サイズ*/
	padding: 10px 30px;		/*上下、左右への余白*/
	color: #333;
	border-radius: 10px;	/*角丸のサイズ*/
	background: rgb(251, 134, 0);		/*背景色（古いブラウザ用）*/
		/*背景グラデーション*/
}
/*段落タグ設定*/
#main p {
	padding: 0px 30px 20px;	/*上、左右、下への余白*/
}
/*他。微調整。*/
#main p + p {
	margin-top: -5px;
}
#main h2 + p,
#main h3 + p,
#main h4 + p {
	margin-top: -10px;
}
#main section + section {
	margin-top: 30px;
}

@keyframes scroll {
	0% {opacity: 0;}
	100% {opacity: 1;}
	}
	/*通常時のボタンは非表示*/
	body .nav-fix-pos-pagetop a {
		display: none;
	}
	/*fixmenu_pagetop.jsで設定している設定値になったら出現するボタンスタイル*/
	body.is-fixed-pagetop .nav-fix-pos-pagetop a {
		display: block;text-decoration: none;text-align: center;z-index: 100;position: fixed;animation-name: scroll;animation-duration: 1s;animation-fill-mode: forwards;
		width: 50px;		/*ボタンの幅*/
		line-height: 50px;	/*ボタンの高さ*/
		bottom: 50px;		/*ウィンドウの下から20pxの場所に配置*/
		right: 1%;			/*ウィンドウの右から1%の場所に配置*/
		color: #fff;		/*文字色*/
		border-radius: 50%;	/*角丸指定。50%にすると円形になる。四角形がいいならこの１行削除。*/
		background: #4abb30;	/*背景色*/
	}
	/*マウスオン時の背景色*/
	body.is-fixed-pagetop .nav-fix-pos-pagetop a:hover {
		background: #fff;
		color: #000;
	}


#parent {
	display: flex;
	flex-grow: 1;
	min-width: 600px;
	float: left;
	width: 50%;
}

/*画面幅900px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:900px){

/*ヘッダー（ロゴが入った最上段のブロック）
---------------------------------------------------------------------------*/
/*ロゴ画像*/
header #logo img {
	width: 146px;		/*画像の幅*/
	position: absolute;z-index: 2;
	left: 3%;		/*左から3%の場所に配置*/
	top: 2px;		/*上から75pxの場所に配置*/
	border-radius: 10px;
	box-shadow: 0 2px 2px 0 rgba(73, 73, 73, 0.5);
}
	
/*メインメニュー
---------------------------------------------------------------------------*/
/*アニメーションのフレーム設定。全100コマアニメーションだと思って下さい。*/
@keyframes menu1 {
0% {opacity: 0;}
100% {opacity: 1;}
}
/*スマホ用メニューブロック*/
#menubar-s {
	display: block;overflow: hidden;
	position: absolute;z-index: 10;
	width: 100%;margin-left: -3%;
	top: 60px;					/*上から200pxの場所に配置*/
	border-top: 1px solid #fff;	/*上の線の幅、線種、色*/
	animation-name: menu1;		/*上のkeyframesの名前*/
	animation-duration: 0.5S;	/*アニメーションの実行時間。0.5秒。*/
	animation-fill-mode: both;	/*アニメーションの完了後、最後のキーフレームを維持する*/
}
/*メニュー１個あたりの設定*/
#menubar-s li a {
	display: block;text-decoration: none;
	padding: 15px 30px;	/*上下、左右へのメニュー内の余白*/
	color: #fff;		/*文字色*/
	font-size: 20px;	/*文字サイズ*/
	border-bottom: 1px solid #fff;	/*下の線の幅、線種、色*/
	background: rgba(0,0,0,0.8);	/*背景色*/
}
/*PC用メニューを非表示にする*/
#menubar {display: none;}

#main-b {
	display: block;
}

#main-b h2 {
	clear: both;
	margin-bottom: 20px;	/*見出しの下にとるスペース*/
	font-size: 16px;		/*文字サイズ*/
	padding: 12px 30px;		/*上下、左右への余白*/
	color: #333;			/*文字色*/
	border-radius: 10px;	/*角丸のサイズ*/
	background: #FFF;		/*背景色（古いブラウザ用）*/
	background: linear-gradient(#FFF, #e5e5e5);
}

#main-a {display: none;}
	
	
/*３本バーアイコン設定
---------------------------------------------------------------------------*/
/*３本バーブロック*/
#menubar_hdr {
	display: block;
	position: absolute;z-index: 2;
	top: 1px;	/*上から20pxの場所に配置*/
	right: 3%;	/*右から3%の場所に配置*/
}
/*アイコン共通設定*/
#menubar_hdr.close,
#menubar_hdr.open {
	width: 47px;	/*幅*/
	height: 47px;	/*高さ*/
	border-radius: 50%;
}
/*三本バーアイコン*/
#menubar_hdr.close {
	background: #4abb30 url(../images/icon_menu.png) no-repeat center top/50px;
}
/*閉じるアイコン*/
#menubar_hdr.open {
	background: #4abb30 url(../images/icon_menu.png) no-repeat center bottom/50px;
}
	
/*Galleryページのサムネイル
タブレットなどの小さな端末ではマウスオンができないので、画像の色を100%出しておく設定です。
---------------------------------------------------------------------------*/
.list a figure {
	opacity: 1;
}
	
/*その他
---------------------------------------------------------------------------*/
body.s-n #sub,body.s-n #footermenu,.m-n {display: none;}

.komidasi {
    display: block;
    margin-top: 15px;
}

}
	
	
	
/*画面幅750px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:750px){
	
/*ヘッダー（ロゴが入った最上段のブロック）
---------------------------------------------------------------------------*/
/*ヘッダーブロック*/


/*ヘッダー右上の画像*/
#header-img img {
	top: 0px;		/*上から0pxの場所に配置。*/
	right: 10%;		/*右から10%の場所に配置*/
	width: 200px;	/*画像の幅*/
}
	
/*メインメニュー
---------------------------------------------------------------------------*/
/*スマホ用メニューブロック*/
#menubar-s {
	top: 100px;		/*上から30pxの場所に配置*/
}
	
}	
	
/*画面幅480px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:480px){

/*全体の設定
---------------------------------------------------------------------------*/
body {
	font-size: 12px;	/*文字サイズ*/
	line-height: 1.5;	/*行間*/
}
	
/*ヘッダー（ロゴが入った最上段のブロック）
---------------------------------------------------------------------------*/
/*ロゴ画像*/

/*ヘッダー右上の画像*/
#header-img img {
	right: 10%;		/*右から10%の場所に配置*/
	top: 10px;		/*上から10pxの場所に配置*/
	width: 150px;	/*画像の幅*/
}
	
/*mainコンテンツ
---------------------------------------------------------------------------*/
#main h2,#main h3 {
	font-size: 14px;
	padding-left: 10px;
	padding-right: 10px;
}
/*段落タグ設定*/
#main p {
	padding: 0px 10px 20px;	/*上、左右、下への余白*/
}
/*他。微調整。*/
#main section + section {
	margin-top: 20px;
}
	
/*Galleryページのサムネイル
---------------------------------------------------------------------------*/
/*写真全体を囲むブロック*/
.photo-block {
	padding: 0 0 20px;	/*上、左右、下のボックス内の余白*/
}
	
/*トップページ内「更新情報・お知らせ」ブロック
---------------------------------------------------------------------------*/
/*ブロック全体の設定*/
#new dl {
	padding: 0 10px;	/*上下、左右へのボックス内の余白*/
}
	
/*テーブル（ta1）
---------------------------------------------------------------------------*/
/*テーブル１行目に入った見出し部分（※caption）*/
.ta1 caption {
	padding: 5px;	/*ボックス内の余白*/
}
/*ta1設定*/
.ta1, .ta1 td, .ta1 th {
	padding: 5px;	/*ボックス内の余白*/
}
/*ta1の左側ボックス*/
.ta1 th {
	width: 100px;
}
	
/*ul.disc,olタグ
---------------------------------------------------------------------------*/
ul.disc {
	list-style: disc;
	padding: 0 10px 20px 30px;
}
ol {
	padding: 0 10px 20px 30px;
}
	
/*その他
---------------------------------------------------------------------------*/
.ws,.wl {width: 94%;}
.big1 {font-size: 16px;}
img.fr,img.fl {float: none;margin: 0;width: 100%;}
.sh {display:block;}
.pc {display:none;}
	

}

.youtube-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.youtube-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}

iframe {
	max-width: 100%;
	max-height: 100%;
}

.blocka {
	float: left;
	width: 60%;
}

.blockb {
	float: right;
	width: 40%;
}


.primary-nav .a .main-link-area {
	grid-area: main-lnks;
	display: flex;
	height: 100%;
}

.about {
	font-size: 25px;
	text-align: right;
	align-items: center;
	right: 5%;
	padding: 20px 30px;
	color: #333;
}

.box1 {
	width: 85%;
	margin-right: auto;
	margin-left: auto;
}

.main-content {
	margin-right: auto;
    margin-left: auto;
    width: 75%;
    height: auto;
    border: 0.3px solid rgb(199, 199, 199);
    background-color: #FFFAF2;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(73, 73, 73, 0.5);
}
@media screen and (max-width:900px){
.main-content {
	margin-top: 10px;
}
}
@media screen and (max-width:480px){
	.main-content {
		width: 100%;
	}
}